<footer class="bg-dark text-white text-center py-3 mt-5 ">
  <div class="container">
    <div class="mb-3">
      <h5>About Us</h5>
      <p>
        Nous sommes une équipe dédiée à fournir des services de santé de qualité.
        Notre objectif est de vous aider à rester en bonne santé grâce à des conseils et des ressources fiables.
      </p>
    </div>

    <hr class="text-light">
    <div>
      <p class="mb-0">
        &copy; 2024 BCHIFA. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>
