<div *ngIf="isUserAuthenticated" class="navbar d-flex justify-content-between align-items-center p-3 ">
  <!-- Logo ou Titre -->
  <nav>
    <a class="navbar-brand fw-bold ms-2" routerLink="/Home">Bchifa</a>
  </nav>

  <!-- Liens de navigation -->
  <nav class="d-flex align-items-center">
    <button href="#" class="nav-link fw-bold mx-2 d-flex align-items-center">
      <i class="bi bi-translate me-1"></i> Fr


    </button>
    <button routerLink="/messages" class="nav-link fw-bold mx-2">Messages</button>
    <button routerLink="/rendez-vous" class="nav-link fw-bold mx-2">Rendez-vous</button>


    <button routerLink="/info" class="nav-link  fw-bold mx-2">Documents</button>

    <button routerLink="/patient-profile" class="nav-link  fw-bold mx-2">
      <i class="bi bi-person"></i>
    </button>
  </nav>
</div>



<div *ngIf="!isUserAuthenticated" class="navbar d-flex justify-content-between align-items-center p-3 ">
  <!-- Logo ou Titre -->
  <nav>
    <a class="navbar-brand fw-bold ms-2" routerLink="/Home">Bchifa</a>
  </nav>

  <!-- Liens de navigation -->
  <nav class="d-flex align-items-center">
    <button href="#"  routerLink="/patient-profile" class="nav-link fw-bold mx-2 d-flex align-items-center">
      <i class="bi bi-translate me-1"></i> Fr
    </button>

    <button href="#" *ngIf="showButtons" class="btn btn-outline-light fw-bold mx-2" routerLink="/signin" >Se connecter</button>
    <button href="#"  *ngIf="showButtons" class="btn btn-outline-light fw-bold mx-2 me-3" routerLink="/signup" >S'inscrire</button>
  </nav>
</div>

