<div class="p-4 header">
  <app-searchbar></app-searchbar>
</div>

<app-filtre-bar (filtersChanged)="onFiltersChanged($event)"></app-filtre-bar>

<!-- Section Résultats et Carte -->
<div class="ms-5 me-5 p-2 mt-3">
  <p><strong>{{ nombrederesultats }} Résultats obtenus</strong></p>
  <div class="row">
    <!-- Colonne des résultats -->
    <div class="col-md-8">
      <div class="mb-3" *ngFor="let docteur of paginatedDocteurs">
        <app-docteur-card [docteur]="docteur"></app-docteur-card>
      </div>
      <!-- Pagination Buttons -->
      <div class="pagination mt-3 d-flex justify-content-between">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary">Précédent</button>
        <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= nombrederesultats" class="btn btn-secondary">Suivant</button>
      </div>
    </div>

    <!-- Colonne de la carte -->
    <div class="col-md-4">
      <app-map [locations]="paginatedDocteurs"></app-map>
    </div>
  </div>


</div>
