.header {
  text-align: center;
  background-color: #0078d7;
  color: white;

}

.handwritten{
  font-family: 'Pacifico', cursive;
  color : white;
}

.fixed-map {
  position: sticky;
  top: 20px; /* Distance entre le haut de la fenêtre et la carte */
  z-index: 10; /* Assurez-vous que la carte reste au-dessus des autres éléments si nécessaire */
  height: calc(100vh - 40px); /* Taille adaptée à la hauteur de l'écran */
  overflow: hidden; /* Évite le débordement */
}


